{% extends 'base.html' %}

{% block title %}
    {{ block.super }} - Интернет-магазин{{ order.pk }}
{% endblock %}

{% block content %}
    <h1>Интернет-магазин</h1>

    <h3>Последние товары:</h3>
    <table>
        <tr>
            <th>Наименование</th>
            <th>Цена</th>
        </tr>
        {% for product in products %}
            <tr>
                <td><a href="{% url 'product_by_id' product.id %}">{{ product.name }}</a></td>
                <td>{{ product.price }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Последние клиенты:</h3>
    <table>
        <tr>
            <th>Имя</th>
            <th>Email</th>
        </tr>
        {% for client in clients %}
            <tr>
                <td><a href="{% url 'client_orders' client.id %}">{{ client.name }}</a></td>
                <td>{{ client.email }}</td>
            </tr>
        {% endfor %}
    </table>

    <h3>Последние заказы:</h3>
    <table>
        <tr>
            <th>Номер</th>
            <th>Клиент</th>
            <th>Сумма</th>
        </tr>
        {% for order in orders %}
            <tr>
                <td><a href="{% url 'order_by_id' order.id %}">{{ order.id }}</a></td>
                <td>{{ order.client.name }}</td>
                <td>{{ order.total_amount }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
